<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="editTask(task)">Editar</ion-button>
      <ion-button fill="clear" color="danger" (click)="deleteTask(task.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input placeholder="Título" [(ngModel)]="newTask.title"></ion-input>
    <ion-input placeholder="Descripción" [(ngModel)]="newTask.description"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="saveTask()">
    {{ editing ? 'Actualizar' : 'Agregar' }} Tarea
  </ion-button>
</ion-content>